body{
  background-image: url("W1M7KR.jpg");
  background-repeat: no-repeat;
}
h2{
  margin-top: 50px;
  margin-bottom: 1px;
  font-size: 40px;
  font-weight: bold;
  font-family:Georgia;
}
.register{
  background-color: ;
  padding-left: 25px;
  padding-top: 35px;
  border-radius: 10px;
  position:relative;
  top:30px;
  left:960px;
  width:520px;
  padding-bottom: 40px;
}
input{
  height:33px;
  font-size: 14pt;
  padding: 10px;
  border-radius: 15px;
}
hr{
  background-color: black;
  height:2px;
  border:0.3px solid black;
  margin-bottom: 10px;
}
.submit{
  padding-bottom: 5px;
}
input[type=submit] {
    width: 6em;  height: 2.5em;
    font-family:sans-serif;
}
section{
  font-size:20px;
  font-style: italic;
  font-family: "times new roamn";
  position: relative;
  top: 90px;
  left:1000px;
  color: black;
  font-weight: bold;
}
span{
  font-size: 35px;
  font-weight: bold;
  font-family: "";
  position:absolute;
  top:320px;
  left:160px;
  color:tan;

}
span>a{
  color:tomato;
  font-size: 30px;
}
